<div class="example-container" [class.example-is-mobile]="isMobile()">
  <mat-toolbar class="example-toolbar">
    <button [hidden]="isLoginRoute()" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">TuAdmin</h1>
    <span class="spacer"></span>
    <button [hidden]="isLoginRoute()" mat-button (click)="logout()">Logout</button>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="isMobile() ? 56 : 0">
    <mat-sidenav #snav [mode]="isMobile() ? 'over' : 'side'"
                 [fixedInViewport]="isMobile()" fixedTopGap="56">
      <mat-nav-list>
        @for (item of fillerNav; track item) {
          <a mat-list-item style="border-radius: 0" href="{{item.path}}">{{item.name}}</a>
        }
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet />
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
