/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  @include mat.card-overrides((
    subtitle-text-color: #9E9E9E,
    subtitle-text-weight: 300,
    outlined-outline-width: 0
  ));
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
